TryItPage/Connected Services/StockQuoteService/StockQuote1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StockQuote" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StockQuote" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AnnualStockData">
    <xs:sequence>
      <xs:element minOccurs="0" name="annualReturn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="monthlyClosings" nillable="true" type="tns:ArrayOfMonthlyClose" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnnualStockData" nillable="true" type="tns:AnnualStockData" />
  <xs:complexType name="ArrayOfMonthlyClose">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonthlyClose" nillable="true" type="tns:MonthlyClose" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonthlyClose" nillable="true" type="tns:ArrayOfMonthlyClose" />
  <xs:complexType name="MonthlyClose">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonthlyClose" nillable="true" type="tns:MonthlyClose" />
</xs:schema>